<a href="https://colab.research.google.com/github/warlockBC5000/TCS-AWS-ML-DS/blob/main/Copy_of_TRAIN_AWS_Part_I_Lecture_2_Shahpar_Islam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture #2: Data Cleaning with pandas**
---

### **Description:**
In this notebook, you will learn how to implement data cleaning with pandas.

<br>


### **Lab Structure**

**Part 1**: [Handling Missing Data](#p1)

**Part 2**: [Data Imputation](#p2)

**Part 3**: [Renaming Columns](#p3)

**Part 4**: [Mutating Column Types](#p4)

**Part 5**: [Data Cleaning Review](#p5)



<br>

## **Goals**
By the end of this lab, you will:
* Be comfortable using pandas to clean data.

<br>

### **Cheat Sheets**
* [Python Basics](https://docs.google.com/document/d/1jC6zIdBukfEoJ8CesGf_usCtK2P6pJTWe5oxopC49aY/edit?usp=drive_link)

* [EDA with pandas (including Data Wrangling)](https://docs.google.com/document/d/1hMsWa7ziMulT0WjoCaqLTkpoqilCO12HlOrVy4-_zwY/edit?usp=sharing)


<br>

**Before starting, run the code below to import all necessary functions and libraries as well as today's datasets.**

In [ ]:
import warnings
warnings.filterwarnings('ignore')
!pip install numpy
!pip install pandas

import pandas as pd
import numpy as np

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS9jPkeKJ8QUuAl-fFdg3nJPDP6vx1byvIBl4yW8UZZJ9QEscyALJp1eywKeAg7aAffwdKP63D9osF1/pub?gid=169291584&single=true&output=csv"
movie_df = pd.read_csv(url)

<a name="p1"></a>

---
## **Part 1: Handling Missing Data**
---

Use the DataFrame below on NBA basketball players to answer Problems #1.1 - 1.3. Take a moment to explore the created dataframe in the cell below, which contains the names of famous NBA players, ages, heights and their respective teams.

<br>


**Run the cell below to load the DataFrame before continuing.**

In [ ]:
df = pd.DataFrame(
  {'Name':['Giannis Antetokounmpo','Kevin Durant','Stephen Curry','Nikola Jokic', 'Joel Embiid', 'LeBron James'],
  'Age':[np.nan, 34, 34, 27, np.nan, 38],
  'Height (in)':[83, 82, 74, 83, np.nan, 81],
  'Team':['Milwaukee Bucks', np.nan, 'Golden State Warriors', 'Denver Nuggets', np.nan, 'Los Angeles Lakers'],
   'Favorite Color':['Blue', 'Black', 'Grey', 'Green', 'Blue', 'Purple']})

df.head()

### **Problem #1.1**

**Together**, let's find the non-null count to determine if there is any missing data.

### **Problem #1.2**

**Together**, let's use `isnull()` to see which values are missing.

### **Problem #1.3**

**Together**, let's drop the row with Joel Embiid's data since it is missing.

---
### **Try Problems #1.4 - 1.5 on your own!**
---

### **Problem #1.4**

Remove any missing values in the "Age" column.

### **Problem #1.5**

Remove the `Favorite Color` feature.

<center>

---
### **Back to Lecture**
---

</center>

<a name="p2"></a>

---
## **Part 2: Data Imputation**
---

The following students have applied for an on-campus university job as a Research Assistant. However, some data is missing. It is your job to fix the missing data.

<br>

**Run the cell below to load the DataFrame before continuing.**

In [ ]:
students_df = pd.DataFrame(
  {'name':['Jen','Akiro','Jamil','Benny', 'Aster', 'Raj', 'Alisha'],
  'age':[19, 18, 21, 23, 26, np.nan, 30],
   'gpa':[np.nan, 4.0, 3.0, 2.3, np.nan, 3.9, 3.8],
   'year':['Freshman', 'Freshman', 'Junior', 'Junior', 'Senior', 'Sophomore', 'Senior'] })

students_df

     name   age  gpa       year
0     Jen  19.0  NaN   Freshman
1   Akiro  18.0  4.0   Freshman
2   Jamil  21.0  3.0     Junior
3   Benny  23.0  2.3     Junior
4   Aster  26.0  NaN     Senior
5     Raj   NaN  3.9  Sophomore
6  Alisha  30.0  3.8     Senior

### **Problem #2.1**

Raj's age is missing. **Together**, let's use the mean for the non-missing values in the column `age` to replace the missing value with the mean.

---
### **Try Problems #2.2 - 2.3 on your own!**
---

### **Problem #2.2**

Jen and Aster's GPA are missing. Use the median value of `gpa` to replace these missing values.

### **Problem #2.3**

Replace Jamil's `gpa` with the value 3.2.

<center>

---
### **Back to Lecture**
---

</center>

<a name="p3"></a>

---
## **Part 3: Renaming Columns**
---

### **Problem #3.1**

**Together**, let's use the `students_df` DataFrame and rename `gpa` to `GPA`.

---
### **Try Problem #3.2 on your own!**
---

### **Problem #3.2**

Rename the rest of columns so all column names begin with a capital letter.

<center>

---
### **Back to Lecture**
---

</center>

<a name="p4"></a>

---
## **Part 4: Mutating Column Types**
---

### **Problem #4.1**

**Together**, let's change the data type of the `age` and `gpa` columns to float.

---
### **Try Problem #4.2 on your own!**
---

### **Problem #4.2**

Add a new column `major` at index position 2 with the following values: "Math", "Chemistry", "English", "Physics", "Computer Science", "Economics", "Biology".

<center>

---
### **Back to Lecture**
---

</center>

<a name="p5"></a>

---
## **Part 5: Dropping Duplicates and Review**
---

Run the code cell below before beginning.

In [ ]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS9jPkeKJ8QUuAl-fFdg3nJPDP6vx1byvIBl4yW8UZZJ9QEscyALJp1eywKeAg7aAffwdKP63D9osF1/pub?gid=169291584&single=true&output=csv"
movie_df = pd.read_csv(url)
movie_df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142.0,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,The Godfather,1972,175.0,Crime,9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,The Dark Knight,2008,152.0,Action,9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,The Godfather: Part II,1974,202.0,Crime,9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,12 Angry Men,1957,96.0,Crime,9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

### **Problem #5.1**

**Together**, let's remove duplicates using `drop_duplicates()`.

In [ ]:
movie_df.drop_# COMPLETE THIS LINE

### **Problem #5.2**

**Together**, let's drop the following columns: `Star3` and `Star4`.

In [ ]:
movie_df = movie_df.# COMPLETE THIS LINE

---
### **Try Problems #5.3 - 5.5 on your own!**
---

### **Problem #5.3**

Fill missing values in the `Runtime` column with the most frequent value (mean).

In [ ]:
mean_runtime = movie_df[# COMPLETE THIS LINE].mean()[0]

# COMPLETE THIS CODE

### **Problem #5.4**

Rename the `Runtime` column to `Runtime (min)`.

In [ ]:
# COMPLETE THIS CODE

### **Problem #5.5**

Change the data type of `Runtime (min)` to `'int64'`.

In [ ]:
# COMPLETE THIS CODE

---
#End of Notebook

Â© 2023 The Coding School, All rights reserved